<nav role="navigation">
  <ul class="h-full flex flex-row items-center gap-x-4 text-base">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/our-travels">Our Travels</a>
    </li>
    <li>
      <a href="/about">About us</a>
    </li>
  </ul>
</nav>